<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<form method="post" action="/signup/">
<form class="form-horizontal" method="post" action="/ask/">
	<fieldset>
		{% for field in form %}
			<label class="control-label">{{ field.label }}</label>
			<div class="controls">{{ field }}</div>
		{% endfor %}
	</fieldset>
	<div class="form-actions">
	<button type="submit" class="btn btn-primary">
	Сохранить</button>
	</div>
</form>
</form>
</body>
</html>