* {
	padding: 0;
	margin: 0;
}
div#header{
	position: fixed;
	width: 100%;
	height: 90px;
	text-align: center;
}
div#page{
    margin-top: 72px;
    position: absolute;
    width: 100%;
    text-align: center;
}
div#headerSource{
    padding: 15px;
    font-size: 22px;	
}
div#headerSource > a{
	padding: 10px;
    color: rgba(125, 125, 125, 0.53);
    font-weight: lighter;
    font-family: century gothic;
    text-decoration: none;
}
div#headerSource > a:hover{
    color: rgba(125, 125, 125, 0.73);
}